body{
    background-image: url('https://previews.123rf.com/images/kran77/kran771811/kran77181100001/115594457-abstract-tech-background-futuristic-digital-system-technology-interface-with-geometric-shapes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
